button.transparent:not(:hover):not(.active) {
    background-color: transparent;
}

menubutton.transparent button:not(:hover):not(.active) {
    background-color: transparent;
}

.no-response .response-area {
    padding: 0;
    padding-bottom: 10px;
}

.player label.quality-label {
    text-transform: uppercase;
}

.player label.quality-label.low {
    background-color: #ffffff1a;
    color: #e4e4e7;
}

.player label.quality-label.high {
    background-color: #21feec1a;
    color: #33ffee;
}

.player label.quality-label.max {
    background-color: #ffd4321a;
    color: #ffd432;
}

@media (prefers-color-scheme: light) {
    .player label.quality-label.low {
        background-color: #0000001a;
        color: #1b1b18;
    }

    .player label.quality-label.high {
        background-color: #04a69a1a; /* Light cyan */
        color: #039187; /* Darker teal */
    }

    .player label.quality-label.max {
        background-color: #ffd4327a; /* Soft yellow */
        color: #905300; /* Dark yellow/brown */
    }
}

.lyrics-panel .lyric {
    background-color: alpha(var(--view-fg-color), 0.05);
    transition-property: background, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.lyrics-panel .lyric.timed {
    color: alpha(var(--view-fg-color), 0.5);
}

.lyrics-panel .lyric.timed:hover {
    background-color: alpha(var(--view-fg-color), 0.1);
}

.lyrics-panel .lyric.timed.active {
    background-color: alpha(var(--view-fg-color), 0.2);
    color: var(--view-fg-color);
}

.color-accent {
    color: var(--accent-color);
}

.tracklist grid.playing {
    color: var(--accent-color);
    background-color: alpha(var(--accent-color), 0.1);
    border-radius: 10px;
}
